.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    color: #000;
}

.content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img-1{
    background: url(/img/img-noticias/noticia-1.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2{
    background: url(/img/img-noticias/noticia-2.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3{
    background: url(/img/img-noticias/noticia-3.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-4{
    background: url(/img/img-noticias/noticia-4.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-5{
    background: url(/img/img-noticias/noticia-5.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    color: #000;
    transition: .2s;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;    
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3,
.post:hover .post-img-4,
.post:hover .post-img-5{
    transform: scale(1.1);
}

.post-body{
    text-align: center;
}

.post-body span{
    display: inline-block;
    color: #000;
    margin-bottom: 10px;
}

.post-body h2{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #000;
    color: #FFF;
    width: 50%;
    margin:auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
}